.button{
 height: 80px;
 width: 80px; 
 font-size: 30px;
}

#CalcStr {
    width: 320px; 
    height: 40px;
    font-size: 30px;
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-right: 10px;
}

.buttons{
 padding-top: 10px;   
}
#zero
{
 width: 164px;   
}

#MemStr
{
 border: none;   
}